@font-face {
    font-family: 'pokemon' ;
    src: url(fonts/PokemonSolid.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-image: url(img/imagemDeFundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #5290ff;
    text-align: center;
    border-radius: 10px 10px 250px 5px;
    border: 10px solid #27519a;
    
}
.topo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > .topo> h1 {
    font-family:'pokemon', Courier, monospace;
    font-size: 40px;
    margin: 20px;
}
.content > .topo > img{
    width: 150px;
}
.pokemons{
    border: 10px solid #27519a;
    background-color:rgb(173, 230, 201) ;
    border-radius: 10px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        
    }
}
@media screen and (min-width: 400px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        
    }
}
@media screen and (min-width: 380px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        
    }
}